<div class="row">
  <div class="col-sm-12">
        <h3 class="card-title">Listagem de Contatos</h3>
          <table class="table table-striped">
              <thead class="thead-dark">
              <tr scope="row">
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th class="col">Telefone</th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngFor="let ContatoNome of ContatoModel">
                <tr scope="row" class="table-bordered">
                  <th scope="row">{{ ContatoNome.ID }}</th>
                  <td>{{ ContatoNome.ContatoNome }}</td>                  
                  <td>{{ContatoNome.ContatoEmail}}</td>
                  <td>{{ContatoNome.ContatoTelefone}}</td>
                  <th><a style="margin-left:50px" class="btn btn-xs btn-dark" [routerLink]="['/edit-contato', ContatoNome._id]">Editar</a></th>
                 </tr>                 
              </tbody>
       </table>
       <a href="/#/contatos" class="btn btn-primary">Cadastro</a>
  </div>
</div>