<div class="row">
  <div class="col-sm-12">
        <h3 class="card-title">Listagem de Contatos</h3>
          <table class="table table-striped">
              <thead class="thead-dark">
              <tr scope="row">
                <th scope="col">ID</th>
                <th class="col-m-4">Nome</th>
                <th class="col-m-5">Email</th>
                <th class="col-m-3">Telefone</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngIf="key22 == 'Contador'">
                  <tr scope="row" class="table-bordered">
                    <th scope="row">{{ item.ID }}</th>
                    <td class="col-m-4">{{ item.Nome }}</td>                  
                    <td class="col-m-4">{{ item.Email }}</td>
                    <td class="col-m-4">{{ item.Telefone }}</td>
                    <th><a class="btn btn-xs btn-dark" [routerLink]="['/contatos-edit', item.ID]">Editar</a></th>
                    <th><button><i class="fa fa-trash"></i></button></th>                       
                    </tr>
                </tbody>
                <tbody *ngIf="key22 == 'Acabou'">
                <tr  *ngFor="let contato of item" scope="row" class="table-bordered">
                  <th scope="row">{{ contato.ID }}</th>
                  <td class="col-m-4">{{ contato.Nome }}</td>                  
                  <td class="col-m-4">{{ contato.Email }}</td>
                  <td class="col-m-4">{{ contato.Telefone }}</td>
                  <th><a class="btn btn-xs btn-dark" [routerLink]="['/contatos-edit', contato.ID]">Editar</a></th>
                  <th><button class="btn btn-danger" (click)="removeContato(contato)" >Apagar</button></th>
                </tr>                 
                </tbody>
       </table>
       <a href="/#/contatos" class="btn btn-primary">Cadastro</a>
  </div>
</div>