<!-- <body>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="card-title">Cadastrar Contatos</h3>
        <h4>Nome</h4>
        <input type="text" [(ngModel)]="contatoModel.ContatoNome" class="form-control form-control-sm col-sm-5">
        <div>    
          <label for="exampleFormControlSelect1"><h4>Classe</h4></label>
          <input type="text" [(ngModel)]="contatoModel.Contatotelefone" class="form-control form-control-sm col-sm-5">    
        </div>
        <div>
        <br><a href="/#/contatos" value="gravar" class="btn btn-success btn-sm" (click)="postContato()">Salvar</a>
        <a href="/#/contatos-list" class="btn btn-primary btn-sm">Listagem</a>
        </div>
      </div>
    </div>
  </div>
</body> -->

<body>
  <p>texto por favor aparece namoral</p>
</body>